<section id="pd">
  <div class="cntr">
    <div class="wrapper">
      <h3>Register For Internet Banking</h3>
    </div>
    <div class="wrapper">
      <div style="width: 50%">
        <form [formGroup]="iregister" autocomplete="off">
          <!-- <div class="hero">
  <div class="hero-content">
    <form [formGroup]="iregister"> -->

          <div class="form-group row">
            <label
              >Account Number
              <span style="color: var(--light-red)">*</span>
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="acc_number"
              placeholder="Enter Account number"
              [(ngModel)]="register.acc_number"
            />
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.account_number">
                <div
                  class="error-message"
                  *ngIf="
                    iregister.get('acc_number').hasError(error.type) &&
                    (iregister.get('acc_number').dirty ||
                      iregister.get('acc_number').touched)
                  "
                >
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </div>

          <div class="form-group row" *ngIf="sentOTP == false">
            <label for="mail"
              >Registered Mail ID:
              <span style="color: var(--light-red)"> * </span>
            </label>
            <input
              class="form-control"
              formControlName="mail"
              type="mail"
              name="mail"
              id="mail"
              placeholder="Enter your registered Mail ID"
              [(ngModel)]="mailID"
            />
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.mail">
                <div
                  class="error-message"
                  *ngIf="
                    iregister.get('mail').hasError(error.type) &&
                    (iregister.get('mail').dirty ||
                      iregister.get('mail').touched)
                  "
                >
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </div>

          <div
            class="form-group row"
            *ngIf="sentOTP == true && verifiedOTP == false"
          >
            <label for="otp"
              >OTP:
              <span
                style="
                  color: var(--light-red);
                  font-size: 18px;
                  margin-left: 5px;
                "
              >
                *
              </span>
            </label>
            <input
              class="form-control"
              formControlName="otp"
              id="otp"
              type="text"
              name="otp"
              placeholder="Enter the OTP sent to your registered Mail ID"
              [(ngModel)]="otp.otp"
            />
          </div>

          <div
            class="form-group row"
            *ngIf="sentOTP == true && verifiedOTP == true"
          >
            <label
              >Set Password
              <span style="color: var(--light-red)">*</span>
            </label>
            <input
              type="password"
              class="form-control"
              formControlName="pwd"
              placeholder="Enter Password"
              [(ngModel)]="register.pwd"
            />
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.password">
                <div
                  class="error-message"
                  *ngIf="
                    iregister.get('pwd').hasError(error.type) &&
                    (iregister.get('pwd').dirty || iregister.get('pwd').touched)
                  "
                >
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </div>

          <!-- <div class="form-group row">
        <label
          >Confirm Password
          <span style="color: var(--light-red)">*</span>
        </label>
        <input
          type="password"
          class="form-control"
          formControlName="cpwd"
          placeholder="Confirm Password"
          
        />
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.password">
            <div
              class="error-message"
              *ngIf="
                iregister.get('cpwd').hasError(error.type) &&
                (iregister.get('cpwd').dirty || iregister.get('cpwd').touched)
              "
            >
              {{ error.message }}
            </div>
           
          </ng-container>
          <div *ngIf="isValid" class="error-message">
            Password does not match
        </div>
        </div>
      </div> -->

          <div
            class="form-group row"
            *ngIf="sentOTP == true && verifiedOTP == true"
          >
            <label
              >Set Transaction Password
              <span style="color: var(--light-red)">*</span>
            </label>
            <input
              type="password"
              class="form-control"
              formControlName="Tpwd"
              placeholder="Enter Transaction Password"
              [(ngModel)]="register.Tpwd"
            />
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.password">
                <div
                  class="error-message"
                  *ngIf="
                    iregister.get('Tpwd').hasError(error.type) &&
                    (iregister.get('Tpwd').dirty ||
                      iregister.get('Tpwd').touched)
                  "
                >
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </div>

          <!-- <div class="form-group row">
        <label
          >Confirm Transaction Password
          <span style="color: var(--light-red)">*</span>
        </label>
        <input
          type="password"
          class="form-control"
          formControlName="CTpwd"
          placeholder="Confirm Transaction Password"
          
        />
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.password">
            <div
              class="error-message"
              *ngIf="
                iregister.get('CTpwd').hasError(error.type) &&
                (iregister.get('CTpwd').dirty || iregister.get('CTpwd').touched)
              "
            >
              {{ error.message }}
            </div>
          </ng-container>
          <div *ngIf="(iregister.get('CTpwd').touched || iregister.get('CTpwd').dirty)" class="error-message">
            <div *ngIf="iregister.get('CTpwd') != iregister.get('CTpwd').touched ">
              Password does not match
            </div> -->

          <!-- </div>
        </div>
      </div> -->

          <div class="btn_container">
            <button
              type="submit"
              *ngIf="sentOTP == false"
              class="btn btn-primary"
              (click)="verifyMailAndGenOTP()"
            >
              Generate OTP
            </button>
            <button
              type="submit"
              *ngIf="sentOTP == true && verifiedOTP == false"
              class="btn btn-primary"
              (click)="verifyOTP()"
            >
              Verify OTP
            </button>
            <button
              type="submit"
              *ngIf="sentOTP == true && verifiedOTP == true"
              class="btn btn-primary"
              (click)="onSubmit()"
            >
              Submit
            </button>
          </div>

          <br />
        </form>
      </div>
    </div>
  </div>
</section>
