<div id="changePwd">
  <div class="cntr">
    <div class="wrapper">
      <h2>Change User ID</h2>
    </div>
    <div class="wrapper">
      <div style="width: 50%">
        <form [formGroup]="chngUid" autocomplete="off">
          <div class="form-group row">
            <label for="puid" class="col-sm-3 col-form-label"
              >New User ID:
              <span
                style="
                  color: var(--light-red);
                  font-size: 18px;
                  margin-left: 5px;
                "
              >
                *
              </span>
            </label>
            <div class="col-sm-7">
              <input
                class="form-control"
                formControlName="uid"
                type="text"
                name="uid"
                placeholder="Enter your New User ID"
                [(ngModel)]="new_userid"
              />
            </div>
          </div>
          <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.uid">
              <div
                class="error-message"
                *ngIf="
                  chngUid.get('uid').hasError(error.type) &&
                  chngUid.get('uid').touched
                "
              >
                {{ error.message }}
              </div>
            </ng-container>
          </div>

          <div class="form-group row">
            <label for="mail" class="col-sm-3 col-form-label"
              >Confirm User ID:
              <span
                style="
                  color: var(--light-red);
                  font-size: 18px;
                  margin-left: 5px;
                "
              >
                *
              </span>
            </label>
            <div class="col-sm-7">
              <input
                class="form-control"
                formControlName="cuid"
                type="text"
                name="cuid"
                id="cuid"
                (change)="checkBothNewUid()"
                placeholder="Enter your New User ID"
                [(ngModel)]="con_new_userid"
              />
            </div>
          </div>
          <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.cuid">
              <div
                class="error-message"
                *ngIf="
                  chngUid.get('cuid').hasError(error.type) &&
                  chngUid.get('cuid').touched
                "
              >
                {{ error.message }}
              </div>
            </ng-container>
          </div>

          <div class="btn_container" style="margin-top: 30px">
            <button
              type="submit"
              class="btn"
              (click)="updateUserID()"
              [disabled]="!chngUid.valid"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
