#success{
    height: 70vh;
    position: relative;
    overflow-x:hidden;
  }
  
  h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: green;
    font-size: 1.5em;
  }
    
  .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .cntr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
  }
  table{
    background-color: rgb(206, 240, 206);
    border: 5px solid lightgrey;
    border-radius: 6px;
    -moz-border-radius:6px;
  }
  table td{
    padding: 15px 25px;
    border: none;
    width:300px;
    color: var(--black);
    font-weight: bold;
  }
  