<header>
  <div class="logo" routerLink="">PG Banking</div>
  <nav>
    <ul class="nav__links">
      <li>
        <a routerLink="{{ mainLink }}">{{ main }}</a>
      </li>
      <li>
        <a routerLink="{{ link1 }}">{{ opt1 }}</a>
      </li>
      <li>
        <a routerLink="{{ link2 }}">{{ opt2 }}</a>
      </li>
      <li>
        <a routerLink="{{ link3 }}">{{ opt3 }}</a>
      </li>
    </ul>
  </nav>
  <ng-container *ngIf="isLogin == true">
    <a routerLink="login" class="cta">
      <button>Login</button>
    </a>
  </ng-container>
  <ng-container *ngIf="isLogin == false">
    <a class="cta">
      <button (click)="logout()">Logout</button>
    </a>
  </ng-container>
</header>
