<app-navbar
  [main]="main"
  [opt1]="opt1"
  [opt2]="opt2"
  [opt3]="opt3"
  [mainLink]="mainLink"
  [link1]="link1"
  [link2]="link2"
  [link3]="link3"
  [isLogin]="isLogin"
></app-navbar>
<div class="cardz">
  <div class="faq">
    <h1><span>F</span>requently <span>A</span>sked <span>Q</span>uestions:</h1>
    <div class="question">
      <h2>1. What is PG Banking?</h2>
      <h3>
        PGBanking is the Internet banking service provided by PG Banking,
        India's largest commercial bank.
      </h3>
    </div>
    <div class="question">
      <h2>2. What is special about Internet banking?</h2>

      <h3>
        Internet banking is the most convenient way to bank- anytime, any place,
        at your convenience.
      </h3>
    </div>
    <div class="question">
      <h2>3. I do not have an account with PG Banking?</h2>

      <h3>
        You are welcome to open it now. It is very easy to open an account with
        PG Banking. You can apply online for opening of a savings bank account.
        A link 'Register' is available on the home page of www.PGBanking.com or
        just walk in to any of our branches nearby. Our staff would be pleased
        to assist you.
      </h3>
    </div>
    <div class="question">
      <h2>4. I want to register for PGBanking now. What do I do?</h2>

      <h3>
        Fill up the Registration Form on the PGBanking site, complete the form
        and submit it. Your registration formalities are complete after your
        details are verified and authenticated by the Admin.
      </h3>
    </div>
    <div class="question">
      <h2>5. Can I change my password?</h2>

      <h3>
        Passwords can be changed any time and any number of times. In fact we
        recommend that your password should be changed periodically to secure
        access to your account information.
      </h3>
    </div>
    <div class="question">
      <h2>6. What happens if I forget my login password?</h2>

      <h3>
        Click on the 'Forgot password' link in the site and provide the
        requested information. You can reset your password after authentication.
      </h3>
    </div>
    <div class="question">
      <h2>7. I want to know more about PG Banking?</h2>

      <h3>
        We are glad about the interest you have evinced in PG Banking. Please
        visit our About us on our website www.PGBanking.com
      </h3>
    </div>
    <div class="question">
      <h2>8. I have some queries regarding PGBanking?</h2>

      <h3>
        We would be glad to answer any specific queries. Please reach out to us
        on 1234567895.
      </h3>
    </div>
  </div>
</div>
