<app-navbar></app-navbar>
<section id="homepage">
  <main>
    <!-- Hero Section -->
    <div class="hero">
      <div class="hero-content">
        <h1>Welcome</h1>
        <h3>To <span>PG Banking</span></h3>
        <div class="line"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda id
          incidunt sunt perferendis quas, quo, qui quia alias pariatur eum ab
          non repudiandae aspernatur ratione? Harum optio alias praesentium
          iure?
        </p>
        <button class="btn btn-login" routerLink="login">Login</button>
        <button class="btn btn-register">Register</button>

        <br/><button class="btn btn-login" routerLink="userdash">Dashboard</button>

      </div>
      <!-- Hero Section Ends -->

      <!-- Hero Section Image -->
      <div class="hero-img">
        <img src="../../../assets/HeroImg.png" alt="" />
      </div>
      <!-- Hero Section Image Ends -->
    </div>
  </main>
</section>
