<app-navbar
  [main]="main"
  [opt1]="opt1"
  [opt2]="opt2"
  [opt3]="opt3"
  [isLogin]="isLogin"
  [mainLink]="mainLink"
  [link1]="link1"
  [link2]="link2"
  [link3]="link3"
></app-navbar>
<section id="homepage">
  <main>
    <!-- Hero Section -->
    <div class="hero">
      <div class="hero-content">
        <h1>Welcome</h1>
        <h3>To <span>PG Banking</span></h3>
        <div class="line"></div>
        <p>
          PG Bank is a leading private sector bank in India. The Bank’s
          consolidated total assets stood at Rs. 14.76 trillion at September 30,
          2020. PG Bank currently has a network of 5,288 branches and 15,158
          ATMs across India.
        </p>
        <div class="btn_container">
          <button class="btn btn-login" routerLink="login">Login</button>
          <button class="btn btn-register" routerLink="register">
            Register
          </button>
          <button
            class="btn btn-register"
            routerLink="register/trackApplication"
          >
            Track Application
          </button>
        </div>
      </div>
      <!-- Hero Section Ends -->

      <!-- Hero Section Image -->
      <div class="hero-img">
        <img src="../../../assets/HeroImg.png" alt="" />
      </div>
      <!-- Hero Section Image Ends -->
    </div>
  </main>
</section>
