/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue: #2ea2e5;
  --light-blue: #54aee2;
  --dark-blue: #3b5998;
  --bs-blue: #2ea2e5;
  --white: #ecf0f1;
  --black: #21252a;
  --black2: #151414;
  --grey: #878787;
  --orange: #ff5e14;
  --light-red: #ff4d4d;
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: auto; */
}

body {
  background: var(--black);
  font-family: var(--primary-font);
  color: var(--white);
}
