#forgotPwd {
  height: 70vh;
  position: relative;
  overflow-x: hidden;
}

.form {
  margin-top: 10px;
  margin-left: 60px;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  color: var(--light-red);
}

input.ng-touched.ng-invalid {
  border: 1px solid var(--light-red);
}

.btn-primary {
  background-color: var(--blue) !important;
  border: none !important;
}

.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

.wrapper h2 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_container button {
  padding: 9px 25px;
  background-color: var(--blue);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  text-align: center;
  color: var(--white);
  margin-top: 25px;
}

.btn_container button:disabled {
  cursor: not-allowed;
}

.modal-header {
  background-color: var(--blue);
}
.modal-title,
.close {
  color: var(--white);
}

.modal-body {
  padding: 30px;
}

.modal-body label {
  color: var(--black);
}
